@import "../vendor/bootstrap/less/variables.less";

/*
Additional base css. See vendor/bootstrap/less/variables.less for the rest
*/

body {
  min-height: 2000px;
  // Top padding is b/c of fixed navbar
  // padding-top: 70px;
}

footer {
    text-align: center;
}

body,input,textarea,select
{
    font-weight: 400;
    font-size: 11.5pt;
    line-height: 2em;
}

h1, h2, h3, h4, h5, h6
{
    text-transform: uppercase;
}

/*
Horizontal header for sections
*/
h2.major
{
    position: relative;
    border-top: solid 5px #e7eae8;
    font-size: 1.65em;
    text-align: center;
    margin-top: 2.5em;
}

h2.major > span
{
    background: #fff;
    position: relative;
    display: inline-block;
    top: -0.775em;
    padding: 0 1.5em 0 1.5em;
    background: @body-bg;
}

/*
Navbar
*/
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 17px;
}

.navbar .navbar-collapse {
    text-align: center;
    margin-bottom: -10px;
}

.navbar-default .navbar-nav > li > a {
    padding-bottom: 17px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 0 0 6px 6px;
}

/*
Banner - top full width image
*/

@overlay-image:     url('images/overlay.png');
@banner-image:      url('../images/banner.jpg');
@highlight-image:   url('images/highlight.png');

#banner-wrapper {
    position: relative;
    background-image:			@overlay-image,	            @overlay-image,           	@banner-image;
    background-position:		top left,					top left,					center center;
    background-repeat:			repeat,						repeat,						no-repeat;
    background-size:			auto,						auto,						cover;
    z-index: 1;
    margin-top: 2.5em;
    margin-bottom: 1em;

    @media screen {
        @media (max-width: @screen-xs-max) {
            padding: 9em 0 5em 0;
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
            padding: 6em 0 6em 0;
        }
        @media (min-width: @screen-lg-min) {
            padding: 11em 0;
        }
    }
}

#banner
{
    position: relative;
    background-color:		rgba(21,28,23,0.85);
    background-image:		@overlay-image,	            @highlight-image;
    background-position:	top left,					center center;
    background-size:		auto,						100% 250%;
    background-repeat:		repeat,						no-repeat;
    text-align: center;

    @media screen {
        @media (max-width: @screen-xs-max) {
            padding: 2.5em 20px;
            margin: 0 !important;
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
            padding: 3.5em 0 3em 0;
        }
        @media (min-width: @screen-lg-min) {
            padding: 4em 0 3.5em 0;
        }
    }
}

#banner h2
{
    color: #fff;
    text-transform: uppercase;

    @media screen {
        @media (max-width: @screen-xs-max) {
            font-size: 2.25em;
            margin: 0 0 0.5em 0;
            line-height: 1.25em;
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
            font-size: 2.45em;
            margin: 0 0 0.65em 0;
        }
        @media (min-width: @screen-lg-min) {
            font-size: 2.75em;
            margin: 0 0 0.75em 0;
        }
    }
}

#banner p
{
    display: block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #575d59;

    @media screen {
        @media (max-width: @screen-xs-max) {
            font-size: 1em;
            margin: 0 0 0.5em 0;
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
            font-size: 1.25em;
            margin: 0 0 1em 0;
        }
        @media (min-width: @screen-lg-min) {
            font-size: 1.35em;
            margin: 0 0 1.25em 0;
        }
    }
}

